.bookPage {
	display: flex;
	width: 100vw;
	justify-content: center;
	padding: 0 8px;
}

.wrap {
	margin-top: 24px;
	max-width: 1140px;
	width: 100%;
	display: grid;
	grid-template-columns: 264px 1fr;
	grid-column-gap: 16px;
}

.form {
	width: 100%;
	position: fixed;
	max-width: 264px;
	display: grid;
	grid-row-gap: 8px;
}

.books {
	display: flex;
	flex-direction: column;
	gap: 16px;
	overflow: auto;
}

.book {
	border-radius: 3px;
	border: 1px solid #333;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
}

.book__btns {
	display: grid;
}

.editBook {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	align-items: center;
	justify-content: center;
}

.editBook__form {
	max-width: 400px;
	width: 100%;
	padding: 8px;
	background-color: #fff;
	border-radius: 3px;
}